

/* responsive mobile screen */

@media screen and (max-width: 576px) {

    .navbar ul {
        display: none;
    }

    .navbar .menu-bar {
        display: block;
    }

    
    .banner-container {
        flex-direction: column;
        padding: 0px 10px;
    }

    .banner-text-container .banner-title {
        font-size: 2.5rem;
        margin-top: 20px;
        line-height: 50px;
    }

    .banner-text-container .banner-description {
        width: auto;
    }


    .banner-img {
        flex-basis: 100%;
    }

    .banner-img img {
        margin-left: 0px;
    }

    .banner-img .badge-1 {
        right: 0px;
        top: 80px;
    }

    .banner-img .badge-2 {
        left: 10px;
        bottom: 220px;
    }

    /* change your habit section */

    .habit-text-container {
        width: 100%;
    }

    .change-your-habit .habit-title {
        font-size: 1.5rem;
    }

    .habit-card-container {
        grid-template-columns: 1fr;
    }


    /* Run an Extra Mile Easily  */

    .run-extra-mile {
        padding: 20px;
        margin: 15px;
        margin-top: 40px;
    }

    .run-container {
        flex-direction: column;
        height: 100%;
    }

    .run-title {
        font-size: 1.2rem;
    }

    .run-text-container,
    .run-img {
        flex-basis: 100%;
    }

    .run-img {
        margin-top: 20px;
    }

    .run-text-container button {
        width: 100%;
    }

    /* BMI Calculator */
    .bmi-container {
        flex-direction: column;
    }

    .bmi-title {
        font-size: 1.5rem;
    }

    .bmi-text-container {
        width: 100%;
    }

    .bmi-table {
        flex-basis: 100%;
    }
    .bmi-table table {
        width: 100%;
        margin-bottom: 30px;
    }

    .bmi-table th {
        font-weight: 400;
    }

    .bmi-table-title,
    .bmi-inputs-title {
        font-size: 1.125rem;
    }


    /* Meet out Team section style start */
    .team-card-container {
        margin: 15px;
    }
    
    .team-title {
        font-size: 1.5rem;
    }

    .team-text-container {
        width: 100%;
        padding: 15px;
    }

    .card-content {
        grid-template-columns: 1fr;
    }
    /* Meet out Team section style end */

    /* popular class style start */
    .popular-class {
        margin: 15px;
    }

    .popular-class .popular-title {
        font-size: 1.5rem;
    }

    .popular-class-container {
        flex-direction: column;
    }

    .popular-text-container {
        width: auto;
    }

    .class-card {
        padding: 10px;
    }

    .class-card > img {
        width: 100%;
        height: 100%;
    }

    .class-card .class-description {
        width: auto;
    }
    .btn {
        width: 100%;
    }



    /* popular class style end */

}


