/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

/* font-family: "Playwrite CU",cursive; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter",sans-serif;
    background-color: black;
}

/* shared styles start */

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.btn-primary {
    background-color: rgb(230, 83, 60);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
}

/* shared styles end */

/* Navbar section style start */

.header {
    height: auto;
    padding: 10px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.navbar {
    max-width: 1060px;
    margin: 0px auto;
    margin-top: 30px;
}

.navbar, .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-weight: 800;
    font-size: 2.25rem;
}

.navbar ul {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 2px;
}

.navbar ul li {
    list-style: none;
    margin-right: 30px;
}

.navbar ul li:last-child {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    display: inline-block;
}

.navbar .menu-bar {
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 400;
}


.navbar .home {
    background-color: rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 50px;
}

/* Navbar section style end */

/* banner section style start */

.banner {
    max-width: 1060px;
    margin: 0px auto;
}

.banner-container {
    display: flex;
    align-items: center;
}


.banner-text-container .banner-title {
    color: white;
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 70px;
}

.shape {
    font-family: "Playwrite CU", cursive;
    font-style: italic;
    font-weight: 200;
}

.banner-text-container .banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 22px;
    margin: 15px 0px;
}

.banner-text-container {
    flex-basis: 50%;
}

.banner-img {
    position: relative;
}

.banner-img img {
    width: 100%;
    height: 530px;
    margin-left: 100px;
    margin-top: 30px;
    display: block;
}

.banner-img .badge {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: fit-content;
    padding: 10px;
}

.banner-img .badge-1 {
    position: absolute;
    right: -80px;
    top: 150px;
}

.banner-img .badge-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 70px;
    bottom: 75px;
}

.badge-2 .fa-circle-play {
    font-size: 30px;
    color: rgb(230, 83, 60);
}

.badge-1 p,
.badge-2 p {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 5px;
}


.btn-download {
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 10px;
}
/* banner section style end */


/* change your habit section style start */

.change-your-habit {
    max-width: 1060px;
    margin: 0px auto;
    color: white;
    margin-top: 60px;
    padding: 0 10px;
}

.habit-text-container {
    width: 650px;
    margin: 0px auto;
    text-align: center;
}

.change-your-habit .habit-title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
}

.change-your-habit .habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 22px;
    margin: 15px 0px;
}

.habit-card-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img img {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-text {
    text-align: center;
}

.card-text .card-title {
    font-size: 1rem;
    margin: 10px 0;
}

.card-text .card-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    padding: 0 5px;
    line-height: 20px;
    width: 250px;
}
/* change your habit section style end */

/* run-extra-mile section style start */

.run-extra-mile {
    max-width: 1060px;
    height: auto;
    margin: 0px auto;
    margin-top: 100px;
    background: rgb(34, 34, 34);
    border-radius: 10px;
    padding: 30px;
}

.run-container {
    display: flex;
    justify-content: space-between;
}

.run-title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
}

.run-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0px;
}

.run-text-container,
.run-img {
    flex-basis: 40%;
}

.run-img img {
    width: 100%;
    border-radius: 10px;
}

.run-text-container button {
    margin-top: 20px;
}
/* run-extra-mile section style end */

/* BMI Calculator section style start */

.bmi-text-container {
    width: 650px;
    margin: 80px auto;
    color: #fff;
    padding: 20px;
}

.bmi-title {
    font-size: 2.5rem;
}

.bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    line-height: 20px;
    margin-top: 15px;
}
/* BMI Calculator section style end */


/* BMI Chart section style start */

.bmi-chart {
    background-color: rgb(34, 34, 34);
    padding-bottom: 20px;
}

.bmi-container {
    max-width: 1060px;
    margin: 0px auto;
    color: #fff;
    padding: 50px 15px 10px 15px;
}

.bmi-container {
    display: flex;
}

.bmi-table,
.bmi-inputs {
    flex-basis: 50%;
}

.bmi-table table {
    border-collapse: collapse;
    width: 300px;
    height: 200px;
    text-align: left;
}

.bmi-table table,tr,td,th {
    margin-top: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}


.bmi-table-title, 
.bmi-inputs-title {
    font-size: 1.75rem
}

.bmi-table th {
    font-size: 1rem;
    font-weight: 500;
}

.bmi-table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;

}

.bmi-inputs-description {
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 20px;
    margin: 12px 0px;
}

.flex {
    display: flex;
    gap: 20px;
}

input,
select {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 12px;
    margin: 5px 0px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 200;
    font-size: 0.75rem;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 200;
    font-size: 0.75rem;
}

form button {
    margin-top: 20px;
    width: 180px;
    padding: 20px;
}

/* BMI Chart section style end */
/* Meet out Team section style start */

.meet-our-team {
    max-width: 1060px;
    margin: 50px auto;
    color: white;
}

.team-text-container {
    width: 650px;
    margin: 0px auto;
}

.team-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.team-description {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin-top: 10px;
    line-height: 21px;
}

.team-card-container {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: brightness(75%);
    object-fit: cover;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.card {
    position: relative;
}

.card-text-container {
    position: absolute;
    text-align: left;
    bottom: 30px;
    left: 20px;
}

.card-name {
    margin-bottom: 6px;
}

.card-details {
    color: rgba(255, 255, 255, 0.6);
    font-size: .875rem;

}

/* Meet out Team section style end */













